MAXIO_URL=https://e36.platform.maxio.com/fargosystems
MAXIO_API_TOKEN=your_maxio_api_token
MAXIO_USERNAME=your_maxio_username
MAXIO_PASSWORD=your_maxio_password

AZURE_STORAGE_ACCOUNT=your_storage_account_name
AZURE_STORAGE_KEY=your_storage_account_key
AZURE_STAGING_CONTAINER_NAME=staging
